body{
    font-family: 'Open Sans';
    color: white;
    font-size: 1.15em;
    font-weight: bold;
}

.bg-azul{
    background-image: url('fondo_azul.PNG');
    background-size: cover;
    background-position: center center;
}

.bg-morado{
    background-image: url('fondo_morado.PNG');
    background-size: cover;
    background-position: center center;
}

.bg-amarillo{
    background-image: url('fondo_amarillo.PNG');
    background-size: cover;
    background-position: center center;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Lotus Eater Sans';
}

h1{
    font-size: 6em;
    padding-top: 100px;
}

.img-fluid {
    margin-top: -100px;
}

.transparente{
    background-color: rgba(0, 0, 0, 0.35);
}